body{
    background-color:rgb(77, 2, 74); 
    margin-left: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252323;
    height: 80px;
    padding: 0 20px; 
    box-sizing: border-box; 
    border-top: 0;
}
nav .logo img {
    height: 60px;
    width: 100% ;
    flex: 1;
    
}
nav .botones {
    display: flex;
    gap: 15px;
    justify-content: center;
}
nav button {
    height: 50px;
    border: none;
    border-bottom: 3px solid #252323;
    background-color: #252323;
    color: #888383;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    transition: border-bottom-color 0.3s;
}

button:hover {
    
    border-bottom-color: #2ecc71;
}


.inicio {
    width: 80%;
    max-height: 800px;
    min-height: 500px; ;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 2fr
}
.inicio .conteiner1{
    height: 400px;
    width: 50%;
}
.inicio img {
    height: 400px;
    
}
.conteiner2 {
    width: 100%;
    padding-top: 40px;
}

.habilidades {
    width: 80%;
    max-height: 800px;
    min-height: 500px; ;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
}
.contacto {
    width: 80%;
    max-height: 800px;
    min-height: 500px; ;
    margin: 20px auto;
}
footer {
    height: 100px;
    background-color: #252323;;
    width: 100%;
    text-align: center;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #888383;
}

